*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-image: linear-gradient(rgb(136, 48, 48), rgb(190, 39, 39), rgb(92, 74, 74) );
    color: #c5c0c0;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}



.cabecalho-imagem{
    border-radius: 10%;
    width: 50%;
    justify-content: left;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
