*{
    margin: 0;
    padding: 0;
}





.cabecalho{
    background-image: linear-gradient(rgb(56, 1, 1),rgb(85, 2, 2),rgb(117, 31, 31));
    color: #e6e3e3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    border-radius: 10%;
    width: 50%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 34px;
}

.valorant{
    background-image: linear-gradient(rgb(117, 31, 31),rgb(146, 30, 30),rgb(168, 36, 36));
    color: #b8b8b8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.valorant-div-conteudo{
    width: 75%;
}

.valorant-titulo{
    padding: 24px 0;
    text-align: center;
    margin: 0 16px;
    font-size: 30px;
}

.valorant-texto-um{
    text-align: justify;
    font-size: 20px;
}

.funcoes{
    background-image: linear-gradient(rgb(168, 36, 36),rgb(173, 50, 50),rgb(131, 42, 42));
    padding: 24px 0;
}

.funcoes-imagem{
    width: 120px;
    padding: 0 120px;
}

.funcoes-div{
    text-align: center;
}

.funcoes-todos{
    display: grid;
    grid-template-columns: 15% 25% 25% 70%;
}

.funcoes-titulo{
    color: #000000;
    margin: 0 335px;
    padding: 24px 0;
    font-size: 30px;
}

.funcoes-imagem-2{
    width: 120px;
    padding: 0 100px;
}

.funcoes-texto-um{
    color: #a3a3a3;
    padding: 12px 24px;
    text-align:justify;
}

.funcoes-nome{
    color: #000000;
    padding: 5px 120px;
    font-size: 25px;
}

.funcoes-texto-um{
    font-size: 20px;
}

.personagens{
    background-image: linear-gradient(rgb(131, 42, 42),rgb(117, 31, 31),rgb(92, 18, 18));
    padding: 24px 0;
}

.personagens-imagem{
    width: 200px;
}

.personagens-icone{
    width: 50px;
}

.personagens-div{
    text-align: center;
}

.personagens-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.personagens-titulo{
    color: #000000;
    text-align: center;
    padding: 24px 0;
    font-size: 30px;
}

.personagens-nome{
    color: #c5c0c0;
    font-size: 20px;
}

.rodape{
    background-image: linear-gradient(rgb(92, 18, 18),rgb(31, 0, 0));
    text-align: center;
}

.rodape-imagem{
    border-radius: 25%;
    height: 70px;
    padding: 24px 0;
}



/*(rgb(136, 48, 48), rgb(190, 39, 39), rgb(92, 74, 74)
 rgb(136, 48, 48),rgb(179, 53, 53)

 rgb(117, 31, 31,),rgb(92, 33, 33),rgb(182, 55, 55)